---
accepted: true
code: QQUUDL
details: true
keynote: false
layout: talk
speakers:
- bio: CEO of MOGWAI LABS, a small cyber security boutique.
  handle: false
  name: Hans-Martin Muench
  photo: https://pretalx.com/media/avatars/hmm_face_mini_xBZ25ly.jpg
timeslot:
  duration: 30
  end: 2024-11-11 14:30:00+01:00
  start: 2024-11-11 14:00:00+01:00
title: Some Thoughts on Penetration Test Reports
track: 1
---

Writing the report is the least favorite part of most penetration tests.
This talk gives a number of tips on how to create better reports in less time.